/* base */

@font-face {
    font-family: TobiasTRIAL-Light;
    src: url("../fonts/TobiasTRIAL-Light.otf");
}

@font-face {
    font-family: HelveticaMonospacedW1G-Rg;
    src: url("../fonts/HelveticaMonospacedW1G-Rg.otf");
}

body {
    background-color: #121212;
    margin-left: 16px;
    margin-right: 16px;
}

h1 {
    color: #EBE6DE;
    text-align: left;
    font-size: clamp(48px, 10vw, 128px);
    line-height: 1em;
    font-family: TobiasTRIAL-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0px;
    letter-spacing: -.015em;
}

h2 {
    color: #EBE6DE;
    text-align: left;
    font-size: 12px;
    line-height: 0px;
    text-transform: uppercase;
    font-family: "HelveticaMonospacedW1G-Rg", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    grid-gap: 16px;
    margin-right: 16px;
    margin-left: 16px;
}

@media screen and (max-width: 768px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        grid-gap: 0px;
    }
}
